---
import Hero from '@components/Hero.astro';
import FeatureGrid from '@components/FeatureGrid.astro';
import CategoryButton from '@components/CategoryButton.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Guest Experience - Alquiler de propiedades.">
  <main class="container mx-auto px-4 py-12">
    <Hero
      title="Una solución completa para"
      subtitle="Gestión de Canales"
      description="Conecte, configure, integre y administre de manera centralizada cientos de canales de ventas y llegue a más clientes de manera conveniente y en línea."
    />

    <CategoryButton text="Hoteles" />
    <FeatureGrid />
  </main>
</Layout>