---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Guest Experience - Alquiler de propiedades.">
  <h1>Página Protegida</h1>

  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet saepe
    veritatis repellendus quibusdam quia aliquam accusamus doloribus fuga,
    laudantium sapiente eos numquam alias reiciendis laborum provident?
    Doloribus atque vel ab?
  </p>
</Layout>