---
const { isLoggedIn } = Astro.locals;
---

<header class="bg-white shadow-md p-4">
  <nav class="flex justify-between items-center max-w-6xl mx-auto">
    <a href="/" class="text-gray-800 font-bold no-underline">Guest Experience</a
    >
    <div>
      <ul class="flex space-x-4">
        <li>
          <a href="/" class="text-gray-800 font-bold no-underline"> Inicio </a>
        </li>
        {
          isLoggedIn && (
          <li>
            <a href="/properties" class="text-gray-800 font-bold no-underline">
              Propiedades
            </a>
          </li>
          <li>
            <a href="/reserva" class="text-gray-800 font-bold no-underline">
              Reservas
            </a>
          </li>
          )
        }
        {
          !isLoggedIn ? (
            <li>
              <a
                href="/login"
                class="ml-4 text-gray-800 font-bold no-underline"
              >
                Login
              </a>
            </li>
          ) : (
            <li id="logout">
              <a
                href="#Salir"
                class="ml-4 text-gray-800 font-bold no-underline"
              >
                Salir
              </a>
            </li>
          )
        }
      </ul>
    </div>
  </nav>
</header>

<script>
  import { actions } from 'astro:actions';

  const logoutElem = document.querySelector('#logout') as HTMLElement;

  logoutElem?.addEventListener('click', () => {
    actions.logout();
    window.location.href = '/';
  });
</script>