---

---

<header class="bg-white shadow-md p-4">
  <nav class="flex justify-between items-center max-w-6xl mx-auto">
    <a href="/" class="text-gray-800 font-bold no-underline">Guest Experience</a
    >
    <div>
      <a href="/propiedades" class="ml-4 text-gray-800 font-bold no-underline"
        >Propiedades</a
      >
      <a href="/anfitriones" class="ml-4 text-gray-800 font-bold no-underline"
        >Anfitriones</a
      >
      <a href="/reservas" class="ml-4 text-gray-800 font-bold no-underline"
        >Reservas</a
      >
    </div>
  </nav>
</header>
